name: Flatpak
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  GO_VERSION: '1.22'
jobs:
  build_daemon:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install libfido2-dev
      run: sudo apt-get install -y libfido2-dev
    - name: Build
      run: go build -o goldwarden -v .
    - uses: actions/upload-artifact@v4
      with:
        name: goldwarden
        path: ./goldwarden
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    needs: build_daemon
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-45
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64]
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: Download daemon
      uses: actions/download-artifact@v4
      with:
        name: goldwarden
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: goldwarden.flatpak
        manifest-path: .github/com.quexten.Goldwarden.yml
        cache-key: flatpak-builder-${{ github.sha }}
        arch: ${{ matrix.arch }}
