name: Flatpak
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
    flatpak:
      name: "Flatpak"
      runs-on: ubuntu-latest
      container:
        image: bilelmoussaoui/flatpak-github-actions:gnome-45
        options: --privileged
      steps:
      - uses: actions/checkout@v4
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: goldwarden.flatpak
          manifest-path: com.quexten.Goldwarden.yml
          cache-key: flatpak-builder-${{ github.sha }}